COMPOSE_MENU=false

PORT=3000

# Storage strategy for the rate-limit: memory (Redis) | persistent (Postgres)
STORE=memory

# Redis connection (when STORE=memory)
REDIS_URL=redis://localhost:6379

# Postgres connection (when STORE=persistent)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ratelimiter
